@inject NavigationManager navigationManager
@inject PeliculaService peliculaService
@inject TipoPeliculaService tipoPeliculaService

<h3>@Titulo</h3>

<EditForm Model="oPeliculaFormCLS" OnValidSubmit="@guardar">
    <DataAnnotationsValidator />
    <div class="mt-3">
        <label>Id Pelicula</label>
        <InputNumber readonly class="form-control" @bind-Value="oPeliculaFormCLS.Id" />
        <ValidationMessage For="(()=>oPeliculaFormCLS.Id)" />
    </div>

    <div class="mt-3">
        <label>Titulo</label>
        <InputText class="form-control" @bind-Value="oPeliculaFormCLS.Titulo" />
        <ValidationMessage For="(()=>oPeliculaFormCLS.Titulo)" />
    </div>

    <div class="mt-3">
        <label>Tipo de pelicula</label>
        <InputSelect class="form-control" @bind-Value="oPeliculaFormCLS.IdTipo">
            <option value="0">Seleccione</option>
            @foreach (var item in listaTipo)
            {
                <option value="@item.IdTipo">@item.NombreTipo</option>
            }
         </InputSelect>
         <ValidationMessage For="(()=>oPeliculaFormCLS.IdTipo)" />
    </div>


    <div class="mt-3">
        <label>Resumen</label>
        <InputTextArea class="form-control" @bind-Value="oPeliculaFormCLS.Resumen" />
        <ValidationMessage For="(()=>oPeliculaFormCLS.Resumen)" />
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-success">Guardar</button>
        <button class="btn btn-danger" onclick="@regresar">Regresar</button>
    </div>

</EditForm>

@code {
    public PeliculaFormCLS oPeliculaFormCLS = new PeliculaFormCLS();

    [Parameter]
    public int Id { get; set; }

    public string Titulo { get; set; } = "";

    public List<TipoPeliculaCLS> listaTipo { get; set; } = new List<TipoPeliculaCLS>();

    protected override Task OnInitializedAsync()
    {
        listaTipo = tipoPeliculaService.ListarTipoPeliculas();
        if(Id != 0)
        {
            Titulo = "Editar Pelicula";
            oPeliculaFormCLS = peliculaService.RecuperarLibroPorId(Id);
        }
        else
        {
            Titulo = "Nueva Pelicula";
        }

        return base.OnInitializedAsync();
    }

    private void guardar()
    {
        if (Titulo == "Nueva Pelicula")
        {
            peliculaService.GuardarPelicula(oPeliculaFormCLS);
            navigationManager.NavigateTo("pelicula");
        }
    }

    private void regresar()
    {
        navigationManager.NavigateTo("pelicula");
    }
}
